li{
   list-style-type: none;
   margin: 2px;
}

a {
   display: inline-block;
   margin: 2px;
   padding: 0.3em 0.8em 0.3em 0.8em; 
   border: 1px solid black;
   text-decoration: none;
   color: black;
   background-color: burlywood;
}
a:hover{
   color: rgb(44, 34, 2); 
   font-weight: bolder;
}
button{
   background-color: burlywood;
}
button a{
   border: none;
   text-decoration: none;
   color:black;
}

.campground-grid-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}